@{
    ViewData["Title"] = "Supplier Information";
}
<div id="displayContent"></div>

<script>document.head.innerHTML += `<link type="text/css" rel="stylesheet" href="/css/React.css">`;</script>

<script type="text/javascript">

    var queryPatientID = '';
    var Alert = ReactBootstrap.Alert ;
</script>
<!--   the form, itself -->
<script type="module" src="@Url.Content("~/js/consumerComponent/accountInformation/account_information_get.jsx")"></script>
