@{
    ViewData["Title"] = "Maintenance_Log_InputForm";
}
<div id="displayContent"></div>

<script>document.head.innerHTML += '<link type="text/css" rel="stylesheet" href="/css/React.css">';</script>

<script type="text/javascript">

    var qFilterString = '@ViewData["filterString"]';
    var Alert = ReactBootstrap.Alert;
</script>
<!--   the form, itself -->
<script type="module" src="@Url.Content("~/js/consumerComponent/MaintenanceLog/maintenance_log_get_table.jsx")"></script>


